#wave {
  position: relative;
  border: 2px solid #eee;
  width: 900px;
  float: left;
}

.mpc {
  width: 720px;
}

.control {
  padding: 10px;
}

.state {
  display: inline;
}

.main {
  margin-top: 70px;
}

.tab-pane {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}